img {
    width: 30%; /*will size with window*/
    margin: calc(10%/6); /*6 places for margin*/
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em; /*almost never use % for font size
}