body{
    max-width: 600px;
    margin: 1.5rem 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #e8e8e4;
    color: #6b705c;
    
}

html{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}



ul{
    list-style-type:none;
}

form{
    background-color: #d8e2dc;
    padding: 1.5rem;
    border-radius: 3%;
}

h1, .description{
    text-align: center;
}

h2{
    font-size: 1.3rem;
}